// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$darkBlue: #003049;
$lightBlue: #bde0fe;
$lightGray: #f8f9fa;
$primary: $darkBlue;
$secondary: $lightBlue;
$tertiary: $lightGray;
